* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Add more global styles here */
}


.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
  color: var(--forth-color);
  margin: 5px;
}

.navbar a:hover {
  color: var(--light-color);
  background-color: var(--third-color);
  border: solid 1px var(--forth-color);
}

.active {
  color: white;
  background-color: var(--third-color);
  border: solid 1px var(--forth-color);
}

.navbar {
  font-size: 1.2rem;
}