* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Add more global styles here */
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
}

.active {
  color: var(--light-color) !important;
  background-color: var(--third-color);
  border: solid 1px var(--fifth-color);
}

.navbar a {
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
  color: var(--nav-text-color);
  margin: 5px;
  background-color: var(--nav-background-color);
}

.navbar a:hover {
  color: var(--light-color);
  border: solid 1px var(--forth-color);
  animation: fadeIn 1s ease;
}

.navbar {
  font-size: 1.2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
