* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Add more global styles here */
}


.headerWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}
.header {
  display: absolute;
  flex-direction: row;
  padding: 30px;
  padding-left: 30px;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
}
