@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1d3461;
  --secondary-color: #1f487e;
  --success-color: #28a745;
  --third-color: #376996;
  --forth-color: #6290c8;
  --fifth-color: #829cbc;
  --light-color: #ECEDEA;
  --dark-color: #343a40;
  --white-color: #fff;
  --black-color: #000;
}
